eureka:
  instance:
    hostname: localhost
  client:
    register-with-eureka: false #This tells Spring Cloud Eureka Client NOT to register this service with the Eureka Server
    fetch-registry: false
    service-url:
      defaultZone: http://${eureka.instance.hostname}:${server.port}/eureka/
server:
  port: 8761
spring:
  application:
    name: discovery-service